html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:white;
    font-family:Arial,sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
h1{
    font-size:90px;
}

p{
    margin:20px 0;
    font-size:24px;
}

button{
    padding:15px 40px;
    font-size:18px;
    border:none;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#333;
    color:white;
}
.back-btn{
    background:none;
    border:none;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;

    display:inline-flex;
    align-items:center;

    margin:0 0 25px 0;   /* नीचे थोड़ा gap */
    padding:0;
    margin-top:15px;
    margin-left:0px;
    margin-bottom:20px;
}

.back-btn:hover{
    color:#d4af37;
}