.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    z-index: 9999;
}
.logo{
    font-size:32px;
    font-weight:bold;
    letter-spacing:3px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}
@media (max-width: 768px){

  .navbar{
    padding:20px;
    flex-direction:column;
    gap:15px;
  }

  .logo{
    font-size:28px;
  }

  .nav-links{
    gap:18px;
    flex-wrap:wrap;
    justify-content:center;
  }

  .nav-links a{
    font-size:15px;
  }

}